* {margin: 0; padding:0; list-style: none; text-decoration: none;box-sizing: border-box;}
a:visited{ color: #ccc;}

body { padding: 30px 0 0 40px; }
#wrap { width: 1200px; margin: 0 auto;}

.clearfix::after { display: block; content: ""; clear: both;}

#header_wrap { 
    width:960px;margin: 0 auto; background-color: #333; color: #ccc;
    height: 45px; overflow: hidden;
}
#header_wrap .logo { float: left;}
#header_wrap .logo h2 {background: url(http://placehold.it/150x45) ; width: 150px;
    height: 45px; text-indent: -9999px;
}
#header_wrap .navbar{ float: right;}
#header_wrap .navbar > li {
    float: left;
}
#header_wrap .navbar > li > a {
    display: block;
    padding: 12px 40px;

}
#header_wrap .navbar > li > a:hover{
    color: pink;
}

#header_wrap .sub li a{
    display: block; color: #ddd;
    text-align: center;
    padding: 12px 0;
}
#header_wrap .sub li a:hover{
    color: pink;
}

section { padding-top: 40px ;}

