.event_list{width: 960px; margin: 0 auto;}
.event_list ul { 
    display: flex; 
    flex-wrap: wrap; /* 너비가 부족하면 아래로 떨어짐 */
    justify-content: space-evenly;
} 

.event_list li {  border: 1px solid blue; margin-bottom: 34px;}
.event_list li a { display: block; width: 271px; height: 381px; line-height: 1; position: relative;}
.event_list li a div { width: 271px; height: 271px; overflow: hidden; position: relative; border-bottom: 1px solid blue;}
.event_list li a div img { position: absolute;top:50%;left: 50%; transform: translate(-50%,-50%);}

.event_list li a article{padding: 29px 10px 0;}
.event_list li a article strong { 
    display: block; 
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-size: 14px;
}

.event_list li a p{color: #333; margin-top: 20px; }
.event_list li a p span{ color: #ed1846;}

.event_list li a em {
    display: block;
    z-index: 2;
    width: 60px; height: 60px; background-color: rgba(0, 0, 0, 0.5);
    text-align: center; line-height: 60px;
    color: #fff ;
    position: absolute;
    right: 9px; top: 9px;
    border-radius: 100%;
}

